cadastro-curriculo {
    .button-cadastro {
        background-color: $cor-tema;
        margin-top: 40px;
    }

    .cadastro-form .item {
        padding-left: 0px;
    }

    .cadastro-form {
        padding: 16px;
    }

    ion-icon {
        color: #fff;
    }

}
