dash-board {
    ion-content {
        position: absolute;
    }
    
    .scroll-content {
        height: 100% !important;
    }

    .content {
        background-color: #f7f7f7;
    }

    .não-consegui {
        margin-top: 190px;
    }

}
